.tasklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

button .taskentry {
  background-color: rgb(149, 10, 149);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

/* todo finalize and add css grid layout */
li .taskentry {
  background-color: rgb(211, 0, 0);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.taskentrywrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 10fr 10fr;
  padding: 0;
  margin: 0;
}

button .checkbox {
  width: 20px;
  height: 20px;
  border: none;
}
